<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
   
    <behaviors>
      <serviceBehaviors>
        <!--TODO: add here the service behavior with the serviceMetadata behavior-->
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="HotelBooking.HotelBookingService">
        <endpoint address="http://localhost:8733" binding="basicHttpBinding"
          bindingConfiguration="" contract="HotelBooking.IHotelBookingService" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
